<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Add Reminder</title>
  </head>
  <body>
    <h1>Add Reminder</h1>
    <form method="post" action="/add_reminder">
      <label for="user_id">User ID:</label>
      <input type="text" name="user_id"><br>
      <label for="reminder">Reminder:</label>
      <input type="text" name="reminder"><br>
      <label for="date_time">Date and Time:</label>
      <input type="datetime-local" name="date_time"><br>
      <input type="submit" value="Add Reminder">
    </form>
  </body>
</html>
