<!DOCTYPE html>
<html>
  <head>
    <title>Reminder App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </head>
  <body>
    <h1>Reminder App</h1>
    <ul>
      {% for reminder in reminders %}
        <li>
          {{ reminder['reminder'] }} - {{ reminder['date_time'] }}
          <a href="{{ url_for('delete_reminder', id=reminder['id']) }}">[x]</a>
        </li>
      {% endfor %}
    </ul>
    <form id="add-form" method="POST">
      <label for="reminder">Reminder:</label>
      <input type="text" id="reminder" name="reminder" required>
      <br>
      <label for="date_time">Date and Time:</label>
      <input type="datetime-local" id="date_time" name="date_time" required>
      <br>
      <input type="submit" value="Add Reminder">
    </form>
  </body>
</html>
